.banner-wrapper {
    width: 100%;
    max-height: 300px;
    display: flex;
    flex-direction: row;
    border: red 1px solid;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;

    .banner-image {
        /* width: 30%; */
        min-width: 300px;
        max-width: 400px;
        height: auto;
        border: blue 1px solid;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .banner-text {
        max-width: 60%;
        padding: 10px;
        border: green 1px solid;
        box-sizing: border-box;

        .banner-title {
            font-size: 20px;
        }

        .banner-description {
            
        }
    }
}